*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	/* underline下划线 */
	font-family: '微软雅黑','苹方';
	list-style: none;
}
img{
	width: 100%;
	height: 100%;
}
@font-face {
  font-family: 'iconfont';  /* project id 461544 */
  src: url('https://at.alicdn.com/t/font_461544_8hohg80d5wubx1or.eot');
  src: url('https://at.alicdn.com/t/font_461544_8hohg80d5wubx1or.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_461544_8hohg80d5wubx1or.woff') format('woff'),
  url('https://at.alicdn.com/t/font_461544_8hohg80d5wubx1or.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_461544_8hohg80d5wubx1or.svg#iconfont') format('svg');
}
